<div class="content-area home-area-1 recent-property" style="background-color: #FCFCFC; padding-bottom: 55px;">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-12 text-center page-title">
                <!-- /.feature title -->
                <h2>Votre CoolLocataire est ici !</h2>
                <p>Les derniers membres inscrits. </p>
            </div>
        </div>

        <div class="row">
            <div class="proerty-th" id="profil-colocataire">
                {# first #}
                <div class="col-sm-6 col-md-2 p0">
                    <div class="box-two proerty-item property-features">
                        <div class="item-thumb">
                            <a href="{{ path('fiche-profil') }}" ><img  src="{{ asset('assets/img/client-face2.png ') }}"></a>
                        </div>
                        <div class="item-entry overflow">
                            <h5><a href="{{ path('fiche-profil') }}" ><ul><li>Prénom</li><li> nom</li></ul></a></h5>
                            <div class="dot-hr"></div>
                            <span class="pull-left"><b>date souhaitée:</b> affichage date </span>
                            
                        </div>
                    </div>
                </div>

                {# second #}
                <div class="col-sm-6 col-md-2 p0">
                    <div class="box-two proerty-item property-features">
                        <div class="item-thumb">
                            <a href="{{ path('fiche-profil') }}" ><img  src="{{ asset('assets/img/client-face2.png ') }}"></a>
                        </div>
                        <div class="item-entry overflow">
                            <h5><a href="{{ path('fiche-profil') }}" ><ul><li>Prénom</li><li> nom</li></ul></a></h5>
                            <div class="dot-hr"></div>
                            <span class="pull-left"><b>date souhaitée:</b> affichage date </span>
                            
                        </div>
                    </div>
                </div>

                {# third #}
                <div class="col-sm-6 col-md-2 p0">
                    <div class="box-two proerty-item property-features">
                        <div class="item-thumb">
                            <a href="{{ path('fiche-profil') }}" ><img  src="{{ asset('assets/img/client-face2.png ') }}"></a>
                        </div>
                        <div class="item-entry overflow">
                            <h5><a href="{{ path('fiche-profil') }}" ><ul><li>Prénom</li><li> nom</li></ul></a></h5>
                            <div class="dot-hr"></div>
                            <span class="pull-left"><b>date souhaitée:</b> affichage date </span>
                            
                        </div>
                    </div>
                </div>

                {# fourth #}
               <div class="col-sm-6 col-md-2 p0">
                    <div class="box-two proerty-item property-features">
                        <div class="item-thumb">
                            <a href="{{ path('fiche-profil') }}" ><img  src="{{ asset('assets/img/client-face2.png ') }}"></a>
                        </div>
                        <div class="item-entry overflow">
                            <h5><a href="{{ path('fiche-profil') }}" ><ul><li>Prénom</li><li> nom</li></ul></a></h5>
                            <div class="dot-hr"></div>
                            <span class="pull-left"><b>date souhaitée:</b> affichage date </span>
                            
                        </div>
                    </div>
                </div>

                {# fifth #}
               <div class="col-sm-6 col-md-2 p0">
                    <div class="box-two proerty-item property-features">
                        <div class="item-thumb profil-user">
                            <a href="{{ path('fiche-profil') }}" ><img  style="with:100% !important; height:auto !important;" src="{{ asset('assets/img/client-face2.png ') }}"></a>
                        </div>
                        <div class="item-entry overflow">
                            <h5><a href="{{ path('fiche-profil') }}" ><ul><li>Prénom</li><li> nom</li></ul></a></h5>
                            <div class="dot-hr"></div>
                            <span class="pull-left"><b>date souhaitée:</b> affichage date </span>
                            
                        </div>
                    </div>
                </div>

                {# sixth #}
                <div class="col-sm-6 col-md-2 p0">
                    <div class="box-tree more-proerty text-center">
                        <div class="item-tree-icon">
                            <i class="fa fa-th"></i>
                        </div>
                        <div class="more-entry overflow">
                            <h5><a href="{{path('profils-colocataires-recherchant-colocation')}}" >Votre futur CoolLocataire </a></h5>
                            <h5 class="tree-sub-ttl">Les profils</h5>
                            <a href="{{path('profils-colocataires-recherchant-colocation')}}" class="btn border-btn more-black" value="Les colocataires">tout voir</a>
                        </div>
                    </div>
                </div>

        </div>

        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-12 text-center page-title">
                <!-- /.feature title -->
                <h2>Nos CoolLocations sont là !</h2>
                <p>Les dernières annonces publiées. </p>
            </div>
        </div>

        <div class="row">
            <div class="proerty-th">
                {# first #}
                <div class="col-sm-6 col-md-3 p0">
                    <div class="box-two proerty-item">
                        <div class="item-thumb">
                            <a href="property-1.html" ><img src="{{ asset('assets/img/demo/property-1.jpg ') }}"></a>
                        </div>
                        <div class="item-entry overflow">
                            <h5><a href="property-1.html" >Super nice villa </a></h5>
                            <div class="dot-hr"></div>
                            <span class="pull-left"><b>Area :</b> 120m </span>
                            <span class="proerty-price pull-right">$ 300,000</span>
                        </div>
                    </div>
                </div>

                {# second #}
                <div class="col-sm-6 col-md-3 p0">
                    <div class="box-two proerty-item">
                        <div class="item-thumb">
                            <a href="property-2.html" ><img src="{{ asset('assets/img/demo/property-2.jpg ') }}"></a>
                        </div>
                        <div class="item-entry overflow">
                            <h5><a href="property-2.html" >Super nice villa </a></h5>
                            <div class="dot-hr"></div>
                            <span class="pull-left"><b>Area :</b> 120m </span>
                            <span class="proerty-price pull-right">$ 300,000</span>
                        </div>
                    </div>
                </div>

                {# third #}
                <div class="col-sm-6 col-md-3 p0">
                    <div class="box-two proerty-item">
                        <div class="item-thumb">
                            <a href="property-3.html" ><img src="{{ asset('assets/img/demo/property-3.jpg ') }}"></a>

                        </div>
                        <div class="item-entry overflow">
                            <h5><a href="property-3.html" >Super nice villa </a></h5>
                            <div class="dot-hr"></div>
                            <span class="pull-left"><b>Area :</b> 120m </span>
                            <span class="proerty-price pull-right">$ 300,000</span>
                        </div>
                    </div>
                </div>

                {# fourth #}
                <div class="col-sm-6 col-md-3 p0">
                    <div class="box-tree more-proerty text-center">
                        <div class="item-tree-icon">
                            <i class="fa fa-th"></i>
                        </div>
                        <div class="more-entry overflow">
                            <h5><a href="property-1.html" >Les coolLocations </a></h5>
                            <h5 class="tree-sub-ttl">Nos annonces</h5>
                            <a href="" class="btn border-btn more-black" value="toutes les annonces">Tout voir</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>