<div class="content-area home-area-1 recent-property" style="background-color: #FCFCFC; padding-bottom: 55px;">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-12 text-center page-title">
                <!-- /.feature title -->
                <h2>Votre CoolLocataire est ici !</h2>
                <p>Les derniers membres inscrits. </p>
            </div>
        </div>

        <div class="row">

            <div class="proerty-th" id="profil-colocataire">
                {% if affichage is defined %}
                    {% for profil in affichage.membres %}

                        <div class="col-sm-6 col-md-2 p0">
                            <div class="box-two proerty-item property-features">
                                <div class="item-thumb">
                                    <a href="{{ path('fiche-profil', {"id_user" : profil.id_user }) }}" ><img  src="{{ profil.profil_picture }}" alt="Photo de profil de {{ profil.firstname }} {{ profil.lastname }}"></a>
                                </div>
                                <div class="item-entry overflow">
                                    <h5><a href="{{ path('fiche-profil', {"id_user" : profil.id_user }) }}" ><ul><li>{{ profil.firstname }}</li><li> {{ profil.lastname }}</li></ul></a></h5>
                                    <div class="dot-hr"></div>
                                    <span class="pull-left"><b>date souhaitée:</b><br> {{ profil.date_dispo }} </span>

                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}

                {# More Profils #}
                <div class="col-sm-6 col-md-2 p0">
                    <div class="box-tree more-proerty text-center">
                        <div class="item-tree-icon">
                            <i class="fa fa-th"></i>
                        </div>
                        <div class="more-entry overflow">
                            <h5><a href="{{path('profils-colocataires-recherchant-colocation')}}" >Votre futur CoolLocataire </a></h5>
                            <h5 class="tree-sub-ttl">Les profils</h5>
                            <a href="{{path('profils-colocataires-recherchant-colocation')}}" class="btn border-btn more-black" value="Les colocataires">tout voir</a>
                        </div>
                    </div>
                </div>


        </div>

        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-12 text-center page-title">
                <!-- /.feature title -->
                <h2>Nos CoolLocations sont là !</h2>
                <p>Les dernières annonces publiées. </p>
            </div>
        </div>

        <div class="row">
            <div class="proerty-th">

                {% for affichages in affichage.annonces %}

                    <div class="col-sm-6 col-md-3 p0">
                        <div class="box-two proerty-item">
                            <div class="item-thumb">
                                <a href="{{ path ('details-annonce', {"id_annonce" : affichages.id_user_post_annonce }) }}" ><img src="{{ affichages.url_media }}" alt="Photo principale de l'annonce de {{ affichages.firstname }} {{ affichages.lastname }}"></a>
                            </div>

                            <div class="item-entry overflow">
                                <h5><a href="{{ path ('details-annonce', {"id_annonce" : affichages.id_user_post_annonce }) }}">{{ affichages.name_coloc }}</a></h5>
                                <div class="dot-hr"></div>
                                <span class="pull-left"><b> Surface :</b> {{ affichages.surface }} m² </span>
                                <span class="proerty-price pull-right">{{ affichages.rent }} €</span>
                                <p style="display: none;">{{ affichages.description }}</p>
                                <div class="property-icon">
                                    <b> Type de bien :</b> {{ affichages.housing_type }}
                                    {# <img src="assets/img/icon/bed.png">(5)|
                                    <img src="assets/img/icon/shawer.png">(2)|
                                    <img src="assets/img/icon/cars.png">(1) #}
                                </div>
                            </div>

                        </div>
                    </div>

                {% endfor %}

                <div class="col-sm-6 col-md-3 p0">
                    <div class="box-tree more-proerty text-center">
                        <div class="item-tree-icon">
                            <i class="fa fa-th"></i>
                        </div>
                        <div class="more-entry overflow">
                            <h5><a href="property-1.html" >Les coolLocations </a></h5>
                            <h5 class="tree-sub-ttl">Nos annonces</h5>
                            <a href="" class="btn border-btn more-black" value="toutes les annonces">Tout voir</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>