{% extends"layout-class-nojs.html.twig" %}



{% block headTitle %}
    Ajouter une colocation | CoolLoc, la colocation cool !
{% endblock %}

{# Bloc nav #}

{% block navigation %}
    {% include 'required/navigation_nc.html.twig' ignore missing  %}
    {# modif de la nav #}
{% endblock %}
{% block content %}

<div class="page-head"> 
    <div class="container">
        <div class="row">
            <div class="page-head-content">
                <h1 class="page-title">Postez votre annonce et trouvez des colocataires</h1>               
            </div>
        </div>
    </div>
</div>
<!-- End page header -->

<!-- property area -->
<div class="content-area submit-property" style="background-color: #FCFCFC;">&nbsp;
    <div class="container">
        <div class="clearfix" > 
            <div class="wizard-container"> 

                <div class="wizard-card ct-wizard-orange" id="wizardProperty">
                    <form action="" method="POST">                        
                        <div class="wizard-header">
                            <h3>
                                <b>CRÉER</b> VOTRE ANNONCE<br>
                                <small>Insèrez toutes les informations pour trouver des colocataires.</small>
                            </h3>
                        </div>

                        <ul>
                            <li><a href="#step1" data-toggle="tab">Étape 1</a></li>
                            <li><a href="#step2" data-toggle="tab">Étape 2</a></li>
                            <li><a href="#step3" data-toggle="tab">Étape 3</a></li>
                            <li><a href="#step4" data-toggle="tab">Terminé</a></li>
                        </ul>



                        <div class="tab-content">

                            <div class="tab-pane" id="step1">
                                <div class="row p-b-15  ">
                                    <h4 class="info-text">Commençez par les informations de base</h4>
                                    <div class="col-sm-4 col-sm-offset-1">
                                        <div class="picture-container">
                                            <div class="picture">
                                                <img src="{{ asset ('assets/img/default-property.jpg') }}" class="picture-src" id="wizardPicturePreview" title=""/>
                                                <input type="file" id="wizard-picture">
                                                
                                            </div> 
                                            <p>Insérez une image</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Nom de la colocation</label>
                                            <input name="name_coloc" type="text" class="form-control" placeholder="Super villa ...">
                                        </div>
                                        <div class="form-group">
                                            <label>Loyer (€)</label>
                                            <input name="rent" type="text" class="form-control" placeholder="3330000">
                                        </div> 
                                        <div class="form-group">
                                            <label>Téléphone <small>(vide si vous avez le même que sur votre profil)</small></label>
                                            <input name="tel_annonce" type="text" class="form-control" placeholder="+33 6 47 84 74 36">
                                        </div>
                                        <div class="form-group">
                                            <label>Mail de contact <small>(vide si vous avez le même que sur votre profil)</small></label>
                                            <input name="mail_annonce" type="text" class="form-control" placeholder="contact@mail.com">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--  End step 1 -->

                            <div class="tab-pane" id="step2">
                                <h4 class="info-text"> Décrivez votre colocation </h4>
                                <div class="row">
                                    <div class="col-sm-12"> 
                                        <div class="col-sm-6"> 
                                            <div class="form-group">
                                                <label>Description :</label>
                                                <textarea name="description" class="form-control textarea-annonce" ></textarea>
                                            </div> 
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Adresse :</label>
                                                <input name="city" type="text" class="form-control adresse" placeholder="Ville *">
                                                <input name="adress" type="text" class="form-control adresse" class="float-left" placeholder="Adresse *">
                                                <input name="postal_code" type="number" class="form-control adresse" placeholder="Code postal *">
                                                <input name="adress_details" type="text" class="form-control adresse" placeholder="Complément d'adresse">
                                            </div>
                                        </div>
                                    </div>  
                                    <div class="col-sm-12 padding-top-15">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Type de bien immobilier :</label>
                                                <select id="housing_type" name="housing_type" class="selectpicker" data-live-search="true" data-live-search-style="begins" title="Choix">
                                                    <option value="house">Maison</option>
                                                    <option value="apartment">Appartement</option>
                                                    <option value="loft">Loft</option>
                                                    <option value="hotel">Hôtel particulier</option>
                                                    <option value="farmhouse">Corps de ferme</option>
                                                    <option value="other">Autre</option>
                                                </select>
                                            </div>
                                        </div>                                    
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Surface générale (m²):</label>
                                                <input name="surface" type="number" class="form-control" placeholder="Surface moyenne *">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Nombre de pièces :</label>
                                                <input name="nb_room" type="number" class="form-control" placeholder="3 *">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Date de disponibilité :</label>
                                                <input name="date_dispo_annonce" type="date" class="form-control" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Nombre de colocataires (max 7):</label>
                                                <input name="nb_roommates" type="number" class="form-control" placeholder="0-7 *">
                                            </div>
                                        </div>                                                                                                
                                    </div>
                                    <div class="col-sm-12 padding-top-15">
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Accès handicapé :</label>
                                                <select id="handicap_access" name="handicap_access" class="selectpicker" data-live-search="true" data-live-search-style="begins" title="Choix">
                                                    <option value="yes">Oui</option>
                                                    <option value="no">Non</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Fumeur :</label>
                                                <select id="smoking" name="smoking" class="selectpicker" data-live-search="true" data-live-search-style="begins" title="Choix">
                                                    <option value="yes">Oui</option>
                                                    <option value="no">Non</option>
                                                    <option value="what_ever">Peu importe</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Animaux :</label>
                                                <select id="animals" name="animals" class="selectpicker" data-live-search="true" data-live-search-style="begins" title="Choix">
                                                    <option value="yes">Oui</option>
                                                    <option value="no">Non</option>
                                                    <option value="what_ever">Peu importe</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Sexe :</label>
                                                <select id="sex_roommates" name="sex_roommates" class="selectpicker" data-live-search="true" data-live-search-style="begins" title="Choix">
                                                    <option value="yes">Homme</option>
                                                    <option value="no">Femme</option>
                                                    <option value="what_ever">Mixte</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Meublé :</label>
                                                <select id="furniture" name="furniture" class="selectpicker" data-live-search="true" data-live-search-style="begins" title="Choix">
                                                    <option value="yes">Oui</option>
                                                    <option value="no">Non</option>
                                                    <option value="what_ever">Peu importe</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Jardin :</label>
                                                <select id="garden" name="garden" class="selectpicker" data-live-search="true" data-live-search-style="begins" title="Choix">
                                                    <option value="yes">Oui</option>
                                                    <option value="no">Non</option>
                                                    <option value="what_ever">Peu importe</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Balcon :</label>
                                                <select id="balcony" name="balcony" class="selectpicker" data-live-search="true" data-live-search-style="begins" title="Choix">
                                                    <option value="yes">Oui</option>
                                                    <option value="no">Non</option>
                                                    <option value="what_ever">Peu importe</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Parking :</label>
                                                <select id="parking" name="parking" class="selectpicker" data-live-search="true" data-live-search-style="begins" title="Choix">
                                                    <option value="yes">Oui</option>
                                                    <option value="no">Non</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 padding-top-15">
                                            <label>Quartier :</label>
                                            <div name="district">                                                     
                                                <div class="col-sm-4">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="close_to_shops"> Proche de commerces
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="close_to_schools"> Proche d'écoles
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="close_to_public_transport"> Proche de transports
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="calm"> Calme
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="animated"> Animé
                                                        </label>
                                                    </div>
                                                </div>               
                                            </div>
                                        </div>
                                        <div class="col-sm-12 padding-top-15">
                                            <label>Équipements :</label>
                                            <div name="equipments">                                                     
                                                <div class="col-sm-2">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="tv"> TV
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="hifi"> Hifi
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="wifi"> Wifi
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="optical_fiber"> Fibre optique
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="game_room"> Salle de jeux
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="washing_machine"> Machine à laver
                                                        </label>
                                                    </div>
                                                </div> 
                                            </div>
                                        </div>
                                        <div class="col-sm-12 padding-top-15">
                                            <label>Profil de colocataire recherché :</label>
                                            <div name="member_profil">                                                     
                                                <div class="col-sm-2">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="shy"> Timide
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="talkative"> Bavard
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="solitary"> Solitaire
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="homebody"> Casanier
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="discreet"> Discret
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="friendly"> Convivial
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="cool"> Cool
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="extrovert"> Extraverti
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="ordered"> Ordonné
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="tolerant"> Tolérant
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="athletic"> Sportif
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="reveler"> Fétard
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="studious"> Studieux
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="curious"> Curieux
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="merry"> Joyeux
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="respectful"> Respectueux
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <div class="col-sm-12 padding-top-15">
                                            <label>Centre d'intérêts :</label>
                                            <div name="hobbies">                                                     
                                                <div class="col-sm-4">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="TV"> Ciné - TV - Série
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="literature"> Littérature
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="music"> Musique
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="video_games"> Jeux vidéo
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="board_games"> Jeux plateau - Société
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="fashion"> Mode
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="shopping"> Shopping
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="sport"> Sport
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="cooking"> Cuisine - Pâtisserie
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="cultural_outings"> Sorties culturelles (musée, expo, théâtre ...)
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="travels"> Voyages
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="other"> Autres
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                            </div>
                            <!-- End step 2 -->

                            <div class="tab-pane" id="step3">                                        
                                <h4 class="info-text">Donnez-nous quelques images et/ou vidéos</h4>
                                <div class="row">  
                                    <div class="col-sm-6">
                                        <label for="photo-images">Choisis tes images :</label>
                                        
                                            <div>
                                                <div class="form-group">
                                                <div class="picture form-annonce">
                                                <img src="{{ asset('assets/img/default-property.jpg') }}" class="picture-src" id="wizardPicturePreview" name="coolloc-ph2" title=""/>
                                                <input type="file" id="wizard-picture">
                                                 </div> 
                                        </div>
                                        <div class="form-group">
                                                 <div class="picture form-annonce">
                                                <img src="{{ asset('assets/img/default-property.jpg') }}" class="picture-src" id="wizardPicturePreview" name="coolloc-ph3" title=""/>
                                                <input type="file" id="wizard-picture">
                                                 </div> 
                                        </div>
                                        <div class="form-group">
                                                 <div class="picture form-annonce">
                                                <img src="{{ asset('assets/img/default-property.jpg') }}" class="picture-src" id="wizardPicturePreview" name="coolloc-ph4" title=""/>
                                                <input type="file" id="wizard-picture">
                                                 </div> 
                                        </div>
                                        <div class="form-group">
                                                 <div class="picture form-annonce">
                                                <img src="{{ asset('assets/img/default-property.jpg') }}" class="picture-src" id="wizardPicturePreview" name="coolloc-ph5" title=""/>
                                                <input type="file" id="wizard-picture">
                                                 </div> 
                                        </div>
                                            </div>    

                                        <p class="help-block">Sélectionne plusieurs images de ta colocation.</p>

                                            
                                        
                                    </div>
                                    <div class="col-sm-6"> 
                                        <div class="form-group">
                                            <label for="videos">Choisis tes vidéos :</label>
                                            <input class="form-control" value="" placeholder="http://www.youtube.com, http://vimeo.com" name="video1" type="text">
                                        </div> 

                                        
                                    </div>
                                </div>
                            </div>
                            <!--  End step 3 -->


                            <div class="tab-pane" id="step4">                                        
                                <h4 class="info-text"> Terminer et poster l'annonce </h4>
                                <div class="row">  
                                    <div class="col-sm-8 col-sm-offset-2" >
                                        <p>
                                            Les présentes <strong>Conditions Générales</strong> ont pour objet de définir les modalités de mise à disposition des services du site coloc.com et les conditions d'utilisation du Service par l'Utilisateur. 
                                            Tout accès et/ou Utilisation du site coloc.com suppose l'acceptation et le respect de l'ensemble des termes des présentes Conditions et leur acceptation inconditionnelle. Elles constituent donc un contrat entre le Service et l'Utilisateur. 
                                            Dans le cas où l'Utilisateur ne souhaite pas accepter tout ou partie des présentes conditions générales, il lui est demandé de renoncer à tout usage du Service.
                                        </p>

                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="termsOfUse"/> <strong>Accepter les conditions générales d'utilisation.</strong>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--  End step 4 -->

                        </div>

                        <div class="wizard-footer">
                            <div class="pull-right">
                                <input type='button' class='btn btn-next btn-primary' name='next' value='Suivant' />
                                <input type='submit' class='btn btn-finish btn-primary ' name='finish' value='Terminé' />
                            </div>

                            <div class="pull-left">
                                <input type='button' class='btn btn-previous btn-default' name='previous' value='Précédent' />
                            </div>
                            <div class="clearfix"></div>                                            
                        </div>	
                    </form>
                </div>
                <!-- End submit form -->
            </div> 
        </div>
    </div>
</div>

{% endblock %}
