{% extends "layout-class-nojs-slider.html.twig" %}

{% block headTitle %}
    Détail de colocation | CoolLoc, la colocation cool !
    {# inclure le nom de la colocation en twig #}
{% endblock %}

{% block header %}
    {% if connected is defined %}
            {% include 'required/header_c.html.twig' ignore missing  %}
                {% else %}
            {% include 'required/header.html.twig' ignore missing  %}
        {% endif %}
{% endblock %}

{# Bloc nav #}

{% block navigation %}

            {% if connected is defined %}
                {% include 'required/navigation_c.html.twig' ignore missing  %}
                    {% else %}
                {% include 'required/navigation_nc.html.twig' ignore missing  %}
            {% endif %}

{% endblock %}

{% block content %}


{% if error is defined %}
    <div>{{ error }}</div>
{% endif %}

{% if info_annonce is defined %}

        <div class="page-head">
            <div class="container">
                <div class="row">
                    <div class="page-head-content">
                        <h1 class="page-title"><small>La Coolloc </small>{{ info_annonce.name_coloc }}</h1>
                    </div>
                </div>
            </div>
        </div>

        <!-- property area -->
        <div class="content-area single-property" style="background-color: #FCFCFC;">&nbsp;
            <div class="container">

                <div class="clearfix padding-top-40" >

                    <div class="col-md-8 single-property-content prp-style-1 ">
                        <div class="row">
                            <div class="light-slide-item">
                                <div class="clearfix">


                                    <ul id="image-gallery" class="gallery list-unstyled cS-hidden">

                                        {% for info_photos in info_photo %}

                                                <li data-thumb="{{ info_photos.url_media }}">
                                                    <img src="{{ info_photos.url_media }}" alt="Photo de l'annonce de {{ info_annonce.firstname }} {{ info_annonce.lastname }}" />
                                                </li>

                                        {% endfor %}

                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="single-property-wrapper">
                            <div class="single-property-header">
                                <h1 class="property-title pull-left">{{ info_annonce.name_coloc }}</h1>
                                <span class="property-price pull-right">{{ info_annonce.rent }} €</span>
                            </div>

                            <div class="property-meta entry-meta clearfix ">

                                <div class="col-xs-6 col-sm-3 col-md-3 p-b-15">
                                    <span class="property-info icon-area">
                                        <img src="{{ asset('assets/img/icon/room-orange.png') }}">
                                    </span>
                                    <span class="property-info-entry">
                                        <span class="property-info-label">Surface</span>
                                        <span class="property-info-value">{{ info_annonce.surface }} <b class="property-info-unit">m²</b></span>
                                    </span>
                                </div>

                                    <div class="col-xs-6 col-sm-3 col-md-3 p-b-15">
                                        <span class="property-info-icon icon-bed">
                                            {% if info_annonce.parking == 'oui' %}
                                                <img src="{{ asset('assets/img/icon/cars-orange.png') }}">
                                            {% else %}
                                                <img src="{{ asset('assets/img/icon/cars.png') }}">
                                            {% endif %}
                                        </span>
                                        <span class="property-info-entry">
                                            <span class="property-info-label">Parking</span>
                                            <span class="property-info-value">{{ info_annonce.parking }}</span>
                                        </span>
                                    </div>

                                <div class="col-xs-6 col-sm-3 col-md-3 p-b-15">
                                    <span class="property-info-icon icon-bath">
                                        {% if info_annonce.garden == 'oui' %}
                                            <img src="{{ asset('assets/img/icon/os-orange.png') }}">
                                        {% else %}
                                            <img src="{{ asset('assets/img/icon/os.png') }}">
                                        {% endif %}
                                    </span>
                                    <span class="property-info-entry">
                                        <span class="property-info-label">Jardin</span>
                                        <span class="property-info-value">{{ info_annonce.garden }}</span>
                                    </span>
                                </div>

                                <div class="col-xs-6 col-sm-3 col-md-3 p-b-15">
                                    <span class="property-info-icon icon-garage">
                                        {% if dispo_annonce == 'oui' %}
                                            <img src="{{ asset('assets/img/icon/rent-orange.png') }}">
                                        {% else %}
                                            <img src="{{ asset('assets/img/icon/rent.png') }}">
                                        {% endif %}
                                    </span>
                                    <span class="property-info-entry">
                                        {% if dispo_annonce == 'oui' %}
                                            <span class="property-info-label">Disponnible</span>
                                        {% else %}
                                            <span class="property-info-label">Pas encore disponnible</span>
                                        {% endif %}
                                    </span>
                                </div>


                            </div>
                            <!-- .property-meta -->

                            <div class="section">
                                <h4 class="s-property-title">Description</h4>
                                <div class="s-property-content">
                                    <p>{{ info_annonce.description }}</p>
                                </div>
                            </div>
                            <!-- End description area  -->

                            <div class="section additional-details">

                                <h4 class="s-property-title">Détails supplémentaires</h4>

                                <ul class="additional-details-list clearfix">

                                    <li>
                                        <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">Type de bien</span>
                                        <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">{{ info_annonce.housing_type|capitalize }}</span>
                                    </li>

                                    <li>
                                        <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">Date de disponibilité</span>
                                        <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">{{ info_annonce.date_dispo|date("d/m/Y") }}</span>
                                    </li>

                                    <li>
                                        <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">Colocation de</span>
                                        <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">{{ info_annonce.nb_roommates }} Personnes</span>
                                    </li>

                                    <li>
                                        <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">Nombre de pièces</span>
                                        <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">{{ info_annonce.nb_room }}</span>
                                    </li>

                                    <li>
                                        <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">Accés handicapé</span>
                                        <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">{{ info_annonce.handicap_access|capitalize }}</span>
                                    </li>

                                    <li>
                                        <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">Animaux</span>
                                        <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">{{ info_annonce.animals|capitalize }}</span>
                                    </li>

                                    <li>
                                        <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">Sexe des colocataires</span>
                                        <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">{{ info_annonce.sex_roommates|capitalize }}</span>
                                    </li>

                                    <li>
                                        <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">Fumeur</span>
                                        <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">{{ info_annonce.smoking|capitalize }}</span>
                                    </li>

                                    <li>
                                        <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">Balcon</span>
                                        <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">{{ info_annonce.balcony|capitalize }}</span>
                                    </li>

                                    <li>
                                        <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">Meublé</span>
                                        <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">{{ info_annonce.furniture|capitalize }}</span>
                                    </li>

                                </ul>
                            </div>
                            <!-- End additional-details area  -->
                            {% if equipment != "" %}
                                <div class="section property-features">
                                    <h4 class="s-property-title">Equipement :</h4>
                                    <ul>
                                        {% for equipments in equipment %}
                                            <li> {{ equipments }} </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                            {% if district != "" %}
                                <div class="section property-features">
                                    <h4 class="s-property-title">Quartier :</h4>
                                    <ul>
                                        {% for districts in district %}
                                            <li> {{ districts }} </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                            {% if hobbie != "" %}
                                <div class="section property-features">
                                    <h4 class="s-property-title">Centre d'intérêt :</h4>
                                    <ul>
                                        {% for hobbies in hobbie %}
                                            <li> {{ hobbies }} </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                            {% if member_profil != "" %}
                                <div class="section property-features">
                                    <h4 class="s-property-title">Profil des colocataires :</h4>
                                    <ul>
                                        {% for member_profils in member_profil %}
                                            <li> {{ member_profils }} </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                            <!-- End features area  -->
                        </div>
                    </div>


                    <div class="col-md-4 p0">
                        <aside class="sidebar sidebar-property blog-asside-right">
                            <div class="dealer-widget">
                                <div class="dealer-content">
                                    <div class="inner-wrapper">

                                        <div class="clear">
                                            {% if info_annonce.profil_picture|default() %}
                                                <div class="col-xs-4 col-sm-4 dealer-face">
                                                        <img src="{{ info_annonce.profil_picture }}" alt="Photo de profil de {{ info_annonce.firstname }} {{ info_annonce.lastname }}" class="img-circle">
                                                </div>
                                            {% endif %}
                                            <div class="col-xs-8 col-sm-8 ">
                                                <h3 class="dealer-name">
                                                    {{ info_annonce.firstname }} {{ info_annonce.lastname }}<br>
                                                    <span>{{ info_annonce.name_coloc }}</span>
                                                </h3>
                                            </div>
                                        </div>

                                        <div class="clear">
                                            {# si utilisateur connecté il peut voir les coordonnées sinon rien #}
                                            {% if connected is defined %}
                                                <ul class="dealer-contacts">
                                                    <li><i class="pe-7s-map-marker strong"> </i> {{ info_annonce.adress }}</li>
                                                    <li><i class="pe-7s-mail strong"> </i> {{ info_annonce.mail }}</li>
                                                    <li><i class="pe-7s-call strong"> </i> {{ info_annonce.tel }}</li>
                                                </ul>

                                            {% else %}
                                                <p>Vous souhaitez acceder aux coordonnées completes de cette colocation ! inscrivez-vous ou connectez-vous </p>

                                                <ul class="dealer-contacts">
                                                    <li><i class="pe-7s-map-marker strong"> </i>Adresse</li>
                                                    <li><i class="pe-7s-mail strong"> </i> Email</li>
                                                    <li><i class="pe-7s-call strong"> </i> Tél.</li>
                                                </ul>

                                                <button class="navbar-btn nav-button wow bounceInRight login"  onclick=" window.open('{{ path('inscription') }}', '_self')" data-wow-delay="0.45s" data-wow-delay="0.45s">S'inscrire</button>

                                                <button class="navbar-btn nav-button wow bounceInRight login"  onclick=" window.open('{{ path('login') }}', '_self')" data-wow-delay="0.45s" data-wow-delay="0.45s">Se connecter</button>

                                            {% endif %}

                                        </div>

                                    </div>
                                </div>
                                {# SI vidéo existe affichez la vidéo sinon rien #}
                                {% if info_video.url_media is defined %}
                                    <div class="section property-video">
                                    <h4 class="s-property-title">Vidéo</h4>
                                    <div class="video-thumb">
                                        <a class="video-popup" href="yout" title="Virtual Tour">
                                            <iframe width="350" height="196" src="{{ info_video.url_media }}?rel=0&amp;" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </a>
                                    </div>
                                    </div>
                                    <!-- End video area  -->
                                {% endif %}

                            </div>



                            <div class="panel panel-default sidebar-menu similar-property-wdg wow fadeInRight animated">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Ces annonces pourraient vous intérresser :</h3>
                                </div>
                                <div class="panel-body recent-property-widget">
                                    <span class="property-seeker">
                                        <b class="b-1">Non définie pour le moment</b>
                                    </span>
                                        {# <ul>
                                        <li>
                                            <div class="col-md-3 col-sm-3 col-xs-3 blg-thumb p0">
                                                <a href="single.html"><img src="{{ asset('assets/img/demo/small-property-2.jpg') }}"></a>
                                                <span class="property-seeker">
                                                    <b class="b-1">A</b>
                                                    <b class="b-2">S</b>
                                                </span>
                                            </div>
                                            <div class="col-md-8 col-sm-8 col-xs-8 blg-entry">
                                                <h6> <a href="single.html">Super nice villa </a></h6>
                                                <span class="property-price">3000000$</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="col-md-3 col-sm-3  col-xs-3 blg-thumb p0">
                                                <a href="single.html"><img src="{{ asset('assets/img/demo/small-property-1.jpg') }}"></a>
                                                <span class="property-seeker">
                                                    <b class="b-1">A</b>
                                                    <b class="b-2">S</b>
                                                </span>
                                            </div>
                                            <div class="col-md-8 col-sm-8 col-xs-8 blg-entry">
                                                <h6> <a href="single.html">Super nice villa </a></h6>
                                                <span class="property-price">3000000$</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="col-md-3 col-sm-3 col-xs-3 blg-thumb p0">
                                                <a href="single.html"><img src="{{ asset('assets/img/demo/small-property-3.jpg') }}"></a>
                                                <span class="property-seeker">
                                                    <b class="b-1">A</b>
                                                    <b class="b-2">S</b>
                                                </span>
                                            </div>
                                            <div class="col-md-8 col-sm-8 col-xs-8 blg-entry">
                                                <h6> <a href="single.html">Super nice villa </a></h6>
                                                <span class="property-price">3000000$</span>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="col-md-3 col-sm-3 col-xs-3 blg-thumb p0">
                                                <a href="single.html"><img src="{{ asset('assets/img/demo/small-property-2.jpg') }}"></a>
                                                <span class="property-seeker">
                                                    <b class="b-1">A</b>
                                                    <b class="b-2">S</b>
                                                </span>
                                            </div>
                                            <div class="col-md-8 col-sm-8 col-xs-8 blg-entry">
                                                <h6> <a href="single.html">Super nice villa </a></h6>
                                                <span class="property-price">3000000$</span>
                                            </div>
                                        </li>

                                    </ul> #}
                                </div>
                            </div>



                        </aside>
                    </div>
                </div>

            </div>
        </div>

{% endif %}


{% endblock %}
