{% extends"layout-class-nojs.html.twig" %}

{% block headTitle %}
    Une question, une réponse | CoolLoc, la colocation cool !
{% endblock %}

{% block header %}
       {% if connected is defined %}
            {% include 'required/header_c.html.twig' ignore missing  %}
                {% else %}
            {% include 'required/header.html.twig' ignore missing  %}
        {% endif %}
{% endblock %}

{# Bloc nav #}

{% block navigation %}

            {% if connected is defined %}
                {% include 'required/navigation_c.html.twig' ignore missing  %}
                    {% else %}
                {% include 'required/navigation_nc.html.twig' ignore missing  %}
            {% endif %}

{% endblock %}




{% block content %}

 <div class="page-head"> 
            <div class="container">
                <div class="row">
                    <div class="page-head-content">
                        <h1 class="page-title">Page FAQ</h1>               
                    </div>
                </div>
            </div>
        </div>
        <!-- End page header -->
        

        <!-- property area -->
        <div class="content-area recent-property" style="background-color: #FCFCFC; padding-bottom: 55px;">
            <div class="container">    

                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-sm-12 text-center page-title">
                        <!-- /.feature title -->
                        <h2>Nos questions les plus fréquentes</h2>
                        <br>
                    </div>
                </div>

                <div class="row row-feat"> 
                    <div class="col-md-12">

                        <div class="col-sm-6 feat-list">
                            {% if infosFaqs is defined %}
                                {% for faq in infosFaqs %}
                                    {% if (loop.index) % 2 == 1 %} {# affiche les faq pair a gauche #}
                                        <div class="panel-group">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title fqa-title" data-toggle="collapse" data-target="#fqa{{ loop.index }}" >
                                                        {{ faq.question }}
                                                    </h4>
                                                </div>
                                                <div id="fqa{{ loop.index }}" class="panel-collapse collapse fqa-body">
                                                    <div class="panel-body">
                                                        <ol style="list-style: none;">
                                                            <li>{{ faq.reponse }}</li>
                                                        </ol>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div class="col-sm-6 feat-list">
                            {% if infosFaqs is defined %}
                                {% for faq in infosFaqs %}
                                    {% if (loop.index) % 2 == 0 %} {# affiche les faq impaire a droite #}
                                        <div class="panel-group">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title fqa-title" data-toggle="collapse" data-target="#fqa{{ loop.index }}" >
                                                        {{ faq.question }}
                                                    </h4>
                                                </div>
                                                <div id="fqa{{ loop.index }}" class="panel-collapse collapse fqa-body">
                                                    <div class="panel-body">
                                                        <ol style="list-style: none;">
                                                            <li>{{ faq.reponse }}</li>
                                                        </ol>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>

                    </div>
                </div>

            </div>
        </div>

{% endblock %}