{% extends"layout-class-nojs.html.twig" %}

{% block headTitle %}
    Chercher une colocation | CoolLoc, la colocation cool !
{% endblock %}

{% block header %}
       {% if connected is defined %}
            {% include 'required/header_c.html.twig' ignore missing  %}
                {% else %}
            {% include 'required/header.html.twig' ignore missing  %}
        {% endif %}
{% endblock %}

{# Bloc nav #}

{% block navigation %}

            {% if connected is defined %}
                {% include 'required/navigation_c.html.twig' ignore missing  %}
                    {% else %}
                {% include 'required/navigation_nc.html.twig' ignore missing  %}
            {% endif %}

{% endblock %}

{% block content %}

<div class="page-head">
    <div class="container">
        <div class="row">
            <div class="page-head-content">
                <h1 class="page-title">Trouver des annonces qui correspondent à vos critères</h1>
            </div>
        </div>
    </div>
</div>

{% if error is defined %}
    {% for errors in error %}
        <span class="red col-xs-12 text-center bold">{{ errors }}</span>
    {%  endfor %}
{% endif %}

    <body>
        <!-- property area -->
        <div class="properties-area recent-property serp-height" style="background-color: #FFF;">
            <div class="container">
                <div class="row  pr0 padding-top-40 properties-page">
                    <div class="col-md-12  clear">
                        {# <div class="col-xs-10 page-subheader sorting pl0">
                            <ul class="sort-by-list">
                                <li class="active">
                                    <a href="javascript:void(0);" class="order_by_date" data-orderby="property_date" data-order="ASC">
                                        Trier par Date <i class="fa fa-sort-amount-asc"></i>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="javascript:void(0);" class="order_by_price" data-orderby="property_price" data-order="DESC">
                                        Trier par Prix <i class="fa fa-sort-numeric-desc"></i>
                                    </a>
                                </li>
                            </ul><!--/ .sort-by-list-->

                            <div class="items-per-page">
                                <label for="items_per_page"><b>Nombre d'annonce par page :</b></label>
                                <div class="sel">
                                    <select id="items_per_page" name="per_page">
                                        <option value="3">3</option>
                                        <option value="6">6</option>
                                        <option value="9">9</option>
                                        <option selected="selected" value="12">12</option>
                                        <option value="15">15</option>
                                        <option value="30">30</option>
                                        <option value="45">45</option>
                                        <option value="60">60</option>
                                    </select>
                                </div><!--/ .sel-->
                            </div><!--/ .items-per-page-->
                        </div> #}
                        <div class="col-xs-12 col-md-7">
                    <span class="bold"><span class="red">{% if nb_resultats is defined %}{{ nb_resultats }}{% else %}0{% endif %}</span> annonces correspondent à vos critères.</span>
                        </div>
                        <div class="col-md-offset-3 col-md-2 layout-switcher">
                            <a class="layout-list" href="javascript:void(0);" title="Affichage en ligne"> <i class="fa fa-th-list"></i>  </a>
                            <a class="layout-grid active" href="javascript:void(0);" title="Affichage en grille"> <i class="fa fa-th"></i> </a>
                        </div><!--/ .layout-switcher-->
                    </div>

                    {% if affichage is defined %}

                    <div class="col-md-12 clear ">
                        <div id="list-type" class="proerty-th">

                                    {% for affichages in affichage %}

                                    <div class="col-sm-6 col-md-3 p0">
                                        <div class="box-two proerty-item">
                                            <div class="item-thumb">
                                                <a href="{{ path ('details-annonce', {"id_annonce" : affichages.id_user_post_annonce }) }}" ><img src="{{ affichages.url_media }}" alt="Photo principale de l'annonce de {{ affichages.firstname }} {{ affichages.lastname }}"></a>
                                            </div>

                                            <div class="item-entry overflow" id="profil">
                                                <h5><a href="{{ path ('details-annonce', {"id_annonce" : affichages.id_user_post_annonce }) }}">{{ affichages.name_coloc }}</a></h5>
                                                <div class="dot-hr"></div>
                                                <span class="pull-left"><b> Surface :</b> {{ affichages.surface }} m² </span>
                                                <span class="proerty-price pull-right">{{ affichages.rent }} €</span>
                                                <p style="display: none;">{{ affichages.description }}</p>
                                                <div class="property-icon">
                                                    <b> Type de bien :</b> {{ affichages.housing_type }}
                                                    {# <img src="assets/img/icon/bed.png">(5)|
                                                    <img src="assets/img/icon/shawer.png">(2)|
                                                    <img src="assets/img/icon/cars.png">(1) #}
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    {% endfor %}

                        </div>
                    </div>

{% if annonce is defined %}
                   <div class="col-md-12 clear">
                        <div class="pull-right">
                            <div class="pagination">
                                <ul>
                                    {% if annonce.page > 1 %}
                                        <li><a href="{{ path('resultat-recherche', {"page" : (annonce.page -1) }) }}">Prev</a></li>
                                    {% endif %}
                                    {% if annonce.page < annonce.maxPage %}
                                        <li><a href="{{ path('resultat-recherche', {"page" : (annonce.page +1) }) }}">Next</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    {% endif %}
                </div>
            </div>
        </div>


{% endblock %}
