{% extends"dashboard/layout-dashboard.html.twig" %}



{% block headtitle %}
    Gestion Users | CoolLoc, la colocation cool !
{% endblock%}



{% block nav %}
    {# insertion des barre de navigation #}
    {% include 'dashboard/required/nav.html.twig' ignore missing  %}
{% endblock %}



{% block title %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Gestion Utilisateurs
            </h1>
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-dashboard"></i> Dashboard / Gestion utilisateurs cherchant une colocation
                </li>
            </ol>
        </div>
    </div>

{% endblock %}



{% block content %}

    <a href="{{ path ('gerer-user-colocations') }}" class="btn btn-warning"><i class="fa fa-reply"></i> Retour</a>

    <h2 class="">Détail du profil<small> options de l'utilisateur :</small> </h2>

    <div class="table-responsive">
        <table class="table table-hover table-striped col-md-12">
            <thead>
            <tr>
                <th class="text-center">Prénom</th>
                <th class="text-center">Nom</th>
                <th class="text-center">Photo</th>
                <th class="text-center">Acces handicapé</th>
                <th class="text-center">Fumeur</th>
                <th class="text-center">Animal</th>
                <th class="text-center">Composition</th>
                <th class="text-center">Meublé</th>
                <th class="text-center">Jardin</th>
                <th class="text-center">Balcon</th>
                <th class="text-center">parking</th>
            </tr>
            </thead>
                <tr>

                        <td class="text-center">{{ detailsUser.firstname }}</td>
                        <td class="text-center">{{ detailsUser.lastname }}</td>
                        <td class="text-center"><img src="{{ detailsUser.profil_picture }}" alt="Miniature photo de profil"></td>
                        <td class="text-center">{{ detailsUser.handicap_access }}</td>
                        <td class="text-center">{{ detailsUser.smoking }}</td>
                        <td class="text-center">{{ detailsUser.animals }}</td>
                        <td class="text-center">{{ detailsUser.sex_roommates }}</td>
                        <td class="text-center">{{ detailsUser.furniture }}</td>
                        <td class="text-center">{{ detailsUser.garden }}</td>
                        <td class="text-center">{{ detailsUser.balcony }}</td>
                        <td class="text-center">{{ detailsUser.parking }}</td>
                 </tr>
        </table>
    </div>

    <h2><small> Choix de l'utilisateur :</small> </h2>

    <div class="table-responsive">
        <table class="table table-hover table-striped col-md-12">
            <tr>
                <th class="col-md-2">Equipement</th>
                {% if detailsUser.equipment == '' %}
                    <td>Non défini par l'utilisateur</td>
                {% else %}
                    <td>{{ detailsUser.equipment }}</td>
                {% endif %}
            </tr>
            <tr>
                <th>Quartier</th>
                {% if detailsUser.district == '' %}
                    <td>Non défini par l'utilisateur</td>
                {% else %}
                    <td>{{ detailsUser.district }}</td>
                {% endif %}
            </tr>
            <tr>
                <th>Centres d'interet</th>
                {% if detailsUser.hobbies == '' %}
                    <td>Non défini par l'utilisateur</td>
                {% else %}
                    <td>{{ detailsUser.hobbies }}</td>
                {% endif %}
            </tr>
            <tr>
                <th>Profil du membre</th>
                {% if detailsUser.member_profil == '' %}
                    <td>Non défini par l'utilisateur</td>
                {% else %}
                    <td>{{ detailsUser.member_profil }}</td>
                {% endif %}
            </tr>
        </table>
    </div>



{% endblock %}