{% extends"dashboard/layout-dashboard.html.twig" %}



{% block headtitle %}
    Dashboard | CoolLoc, la colocation cool !
{% endblock%}



{% block nav %}
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path ('dashboard') }}">Coolloc Admin</a>
        </div>
        <!-- Top Menu Items -->
        <ul class="nav navbar-right top-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>{{ userAdmin.firstname }} {{ userAdmin.lastname }}<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{{ path('profil') }}"><i class="fa fa-fw fa-user"></i> Profil</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="{{ path('deconnexion') }}"><i class="fa fa-fw fa-power-off"></i> Deconnexion</a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li class="active">
                    <a href="{{ path ('dashboard') }}"><i class="fa fa-fw fa-dashboard"></i>Accueil Dashboard</a>
                </li>
                <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-user"></i> Gerer utilisateurs <i class="fa fa-fw fa-caret-down"></i></a>
                    <ul id="demo" class="collapse">
                        <li>
                            <a href="{{ path ('gerer-user-colocations') }}">Cherchant une colocation</a>
                        </li>
                        <li>
                            <a href="{{ path ('gerer-user-colocataires') }}">Cherchant des colocataires</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="{{ path ('gerer-annonces-admin') }}"><i class="fa fa-fw fa-table"></i> Gestion des annonces</a>
                </li>
                <li>
                    <a href="{{ path ('gerer-faq') }}"><i class="fa fa-fw fa-edit"></i> Gestion de la FAQ</a>
                </li>
                <li>
                    <a href="{{ path ('accueil') }}"><i class="fa fa-home"></i> Retour à la Home</a>
                </li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
{% endblock %}



{% block title %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Bonjour <small>{{ userAdmin.firstname }} {{ userAdmin.lastname }}</small>
            </h1>
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-dashboard"></i> Dashboard
                </li>
            </ol>
        </div>
    </div>

{% endblock %}



{% block content %}

    <div class="row">
        <div class="col-lg-6 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-comments fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{  commentaires | length }}</div>
                            <div>Témoignages</div>
                        </div>
                    </div>
                </div>
                <a href="{#{{ path ('gerer-temoignages') }}#}">
                    <div class="panel-footer">
                        <span class="pull-left">Voir les détails</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-tasks fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{  annonces | length }}</div>
                            <div>Annonces</div>
                        </div>
                    </div>
                </div>
                <a href="{{ path ('gerer-annonces-admin') }}">
                    <div class="panel-footer">
                        <span class="pull-left">Voir les détails</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-user fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{  usersColocations | length }}</div>
                            <div>Utilisateurs cherchant une colocation</div>
                        </div>
                    </div>
                </div>
                <a href="{{ path ('gerer-user-colocations') }}">
                    <div class="panel-footer">
                        <span class="pull-left">Voir les détails</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-user fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{  usersColocataires | length }}</div>
                            <div>Utilisateurs cherchant des colocataires</div>
                        </div>
                    </div>
                </div>
                <a href="{{ path ('gerer-user-colocataires') }}">
                    <div class="panel-footer">
                        <span class="pull-left">Voir les détails</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- /.row -->

{% endblock %}