{% extends"dashboard/layout-dashboard.html.twig" %}



{% block headtitle %}
    Dashboard | CoolLoc, la colocation cool !
{% endblock%}



{% block nav %}
    {# insertion des barre de navigation #}
    {% include 'dashboard/required/nav.html.twig' ignore missing  %}
{% endblock %}



{% block title %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Bonjour <small>{{ userAdmin.firstname }} {{ userAdmin.lastname }}</small>
            </h1>
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-dashboard"></i> Dashboard
                </li>
            </ol>
        </div>
    </div>

{% endblock %}



{% block content %}

    <div class="row">
        <div class="col-lg-6 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-comments fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{  commentaires | length }}</div>
                            <div>Témoignages</div>
                        </div>
                    </div>
                </div>
                <a href="{{ path ('gerer-temoignage') }}">
                    <div class="panel-footer">
                        <span class="pull-left">Voir les détails</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-tasks fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{  annonces | length }}</div>
                            <div>Annonces</div>
                        </div>
                    </div>
                </div>
                <a href="{{ path ('gerer-annonces-admin') }}">
                    <div class="panel-footer">
                        <span class="pull-left">Voir les détails</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-user fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{  usersColocations | length }}</div>
                            <div>Utilisateurs cherchant une colocation</div>
                        </div>
                    </div>
                </div>
                <a href="{{ path ('gerer-user-colocations') }}">
                    <div class="panel-footer">
                        <span class="pull-left">Voir les détails</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-user fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{  usersColocataires | length }}</div>
                            <div>Utilisateurs cherchant des colocataires</div>
                        </div>
                    </div>
                </div>
                <a href="{{ path ('gerer-user-colocataires') }}">
                    <div class="panel-footer">
                        <span class="pull-left">Voir les détails</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- /.row -->

{% endblock %}