{% extends"dashboard/layout-dashboard.html.twig" %}



{% block headtitle %}
    Gestion Users | CoolLoc, la colocation cool !
{% endblock%}



{% block nav %}
    {# insertion des barre de navigation #}
    {% include 'dashboard/required/nav.html.twig' ignore missing  %}
{% endblock %}

{% block title %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Gestion Utilisateurs
            </h1>
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-dashboard"></i> Dashboard / Gestion utilisateurs cherchant une colocation
                </li>
            </ol>
        </div>
    </div>

{% endblock %}



{% block content %}

    <h2 class="">Personnes recherchant une colocation : </h2>
    <div class="table-responsive">
    <table class="table table-hover table-striped col-md-12">
        <thead>
            <tr>
                <th class="text-center">Id utilisateur</th>
                <th class="text-center">Prénom</th>
                <th class="text-center">Nom</th>
                <th class="text-center">Date de naissance</th>
                <th class="text-center">Email</th>
                <th class="text-center">Téléphone</th>
                <th class="text-center">Activité</th>
                <th class="text-center">Sexe</th>
                <th class="text-center">Date de création</th>
                <th class="text-center">Statut</th>
                <th class="text-center">Etat du compte</th>
                <th class="text-center">Détails</th>
                <th class="text-center">Rendre inactif</th>
            </tr>
        </thead>
        {% for users in usersInfo %}
            {% if users.status == 'cherche colocation' %}
                <tr>
                    <td class="text-center">{{ users.id_user }}</td>
                    <td class="text-center">{{ users.firstname }}</td>
                    <td class="text-center">{{ users.lastname }}</td>
                    <td class="text-center">{{ users.birthdate }}</td>
                    <td class="text-center">{{ users.mail }}</td>
                    <td class="text-center">{{ users.tel }}</td>
                    <td class="text-center">{{ users.activity }}</td>
                    <td class="text-center">{{ users.sex }}</td>
                    <td class="text-center">{{ users.date_created }}</td>
                    <td class="text-center">{{ users.status }}</td>
                    {% if users.account == 'actif' %}
                        <td class="text-center text-success">{{ users.account }}</td>
                    {% else %}
                        <td class="text-center text-danger">{{ users.account }}</td>
                    {% endif %}
                    <td class=""><a href='{{ path("details-profil", {"id_user" : users.id_user}) }}'><i class="glyphicon glyphicon-search"></i> Détails profil </a></td>
                    <td class="text-center"><a OnClick='return(confirm("Voulez vous vraiment modifier le status ?"))' href='{{ path("modify-status-user", {"id_user" : users.id_user, 'page_actuelle' : 'colocations'}) }}'><a OnClick='return(confirm("Voulez vous vraiment modifier le status ?"))' href='{{ path("modify-status-user", {"id_user" : users.id_user, 'page_actuelle' : 'colocations'}) }}' >
                                {% if users.account == 'actif' %}
                                    <i class="fa fa-times">
                                {% else %}
                                    <i class="fa fa-check-circle-o">
                                {% endif %}
                        </a></td>
                </tr>
            {% endif %}
    {% endfor %}

    </table>
    </div>


{% endblock %}